@import 'common';
.an-rect {
    color: @bordercolor;
    position: absolute;
    width: 300px;
    //height: 150px;
    background-color: white;
    border: 4px solid @bordercolor;
    text-align: center;
    top: 54px;
    .btn {
        width: 100px;
        height: 35px;
        line-height: 31px;
        background-color: #78d830;
        border-radius: 30px;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: #471033;
        border: 2px solid @bordercolor;
        cursor: pointer;
    }
    .btn1 {
        cursor: pointer;
        margin: 0 auto 10px;
        width: 150px;
        height: 35px;
        line-height: 31px;
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        color: #471033;
        background-color: #F04848;
        border: 2px solid @bordercolor;
        &.yes {
            background-color: #78d830;
        }
    }
    .bt-no{
        background-color: #F04848;
        margin-left: 16px;
    }
}
.an-rect1 {
    top: 50px;
    left: 80px;
}
.q-title
{
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}
.div-text
{
    font-size: 20px;
    color: #471033;
}
.tbcircle
{
    position: relative;
    line-height: 30px;
}
.lcircle
{
    width: 13px;
    height: 13px;
    border-radius: 50px;
    border:4px solid @bordercolor;
    background-color: coral;
    margin-right: 250px;
    display: inline-block;
}
.rcircle
{
    width: 13px;
    height: 13px;
    border-radius: 50px;
    border:4px solid @bordercolor;
    background-color: coral;
    display: inline-block;
}
