@import 'common';
@ftimer: 0.8s; // fly in timer
@timefunc: ease;

//animation: weather-right @ftimer @timefunc forwards;

body {
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: black;
}

#App {
    width: 19.20rem;
    height: 10.80rem;
    background: #16181B;
    position: absolute;
    overflow: hidden;

    .left-bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 0.88rem;
        height: 9.60rem;
        background: url('../image/Control_Bar.png') left top/100% no-repeat;
        z-index: 1;
    }

    .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 19.20rem;
        height: 1.20rem;
        background: url('../image/Vehicle_control.png') left top/100% no-repeat;
        z-index: 1;
    }

    .map {
        width: calc(19.20rem - 0.88rem);
        height: calc(10.80rem - 1.20rem);
        background: url('../image/BigMap2.png') -20rem -13rem no-repeat;
        background-size: 44.64rem 27.20rem;
        position: absolute;
        left: .88rem;
        bottom: 1.20rem;

        &.mapleft1 {
            animation: ml60 @ftimer ease-in-out forwards;
        }

        &.mr500 {
            animation: mr500 @ftimer ease-in-out forwards;
        }

        &.mr250 {
            animation: mr250 @ftimer ease-in-out forwards;
        }

        &.mr500rev {
            animation: mr500rev @ftimer ease-in-out forwards;
        }

        .search {
            position: absolute;
            z-index: 1;
            left: 0;

            width: 5.08rem;
            height: 1.44rem;

            background: url('../image/0_Welcome/NavSearch_Narrow.png') left top/100% no-repeat;

            &.right1069 {
                animation: left1069 @ftimer @timefunc forwards;
                ;
            }

            &.left1069to534 {
                animation: left1069to534 @ftimer @timefunc forwards;
                ;
            }
        }

        .welcome-bg {
            width: 10.69rem + 1.6rem; // include fade
            height: 9.64rem;
            position: relative;
            opacity: 0;
            overflow: hidden;
            
            .bgmain {
                width: calc(100% - 1.6rem); // include fade
                height: 100%;
                background: #16181B;
                position: absolute;
                overflow: hidden;
            }

            .hline,
            .vline {
                opacity: 0.15;
                border: 0.01rem solid #FFFFFF;
            }

            .hline {
                position: absolute;
                left: .26rem;
                top: 2.38rem;
                height: 0.01rem;
                width: 10.44rem;
            }

            .vline {
                position: absolute;
                left: 5.34rem;
                top: 2.63rem;
                height: 6.71rem;
                width: 0.01rem;
            }

            &.in {
                animation: fadeIn 0.2s @timefunc forwards;
            }

            &.w519 {
                animation: w519 @ftimer @timefunc forwards;
            }

            .fade {
                position: absolute;
                // right: -1.60rem;
                right: 0rem;
                height: 100%;
                width: 1.6rem;
                background-image: linear-gradient(270deg, rgba(22, 24, 28, 0.00) 0%, rgba(22, 24, 28, 0.53) 22%, #16181C 82%, #16181C 100%);

                &.in {
                    animation: fadeIn 0.2s @timefunc forwards;
                }
            }
        }

        .hi,
        .weather,
        .schedule {
            position: absolute;
        }

        .weather,
        .schedule {
            width: 5.34rem;
            height: 7.24rem;
        }

        .hi {
            position: absolute;
            top: -2.38rem;
            width: 100%;
            height: 2.38rem;

            &.hi-down {
                animation: hi-down @ftimer @timefunc forwards;
            }

            &.topneg238 {
                animation: topneg238 @ftimer @timefunc forwards;
            }

            .hi-text {
                font-family: PingFangSC-Semibold;
                font-size: .52rem;
                color: #FFFFFF;
                line-height: .66rem;
                padding-left: .87rem;
            }

            .hi-date {
                font-family: PingFangSC-Regular;
                font-size: .24rem;
                color: rgba(255, 255, 255, 0.55);
                position: absolute;
                top: 1.63rem;
                right: .30rem;
            }
        }

        .weather {
            position: absolute;
            top: 2.40rem;
            left: -5.34rem;
            padding-left: .35rem;
            font-family: PingFangSC-Regular;
            font-size: .20rem;
            color: #FFFFFF;

            &.weather-right {
                animation: weather-right @ftimer @timefunc forwards;
            }

            &.leftneg1069 {
                animation: leftneg1069 @ftimer @timefunc forwards;
            }

            .title {
                margin-left: .13rem;
                margin-top: .34rem;
                width: 1.31rem;
                height: .24rem;
                background: url('../image/0_Welcome/0_2_weather_0.png') left top/100% no-repeat;
            }

            .report {
                margin-top: .23rem;
                width: 4.82rem;
                height: 3.51rem;
                background: url('../image/0_Welcome/0_2_weather_1.png') left top/100% no-repeat;
            }

            .date {
                margin-top: .22rem;
                padding-left: .22rem;
                line-height: .28rem;

                .round {
                    display: inline-block;
                    margin-left: .15rem;
                    text-align: center;
                    width: .65rem;
                    background: #060607;
                    border-radius: .16rem;
                    border-radius: .16rem;
                }

                .time {
                    position: absolute;
                    right: .30rem;
                    text-align: right;
                }
            }

            .icons {
                width: 4.54rem;
                height: 1.01rem;
                margin: 0.53rem 0 0 0.1rem;
                display: flex;
                flex-wrap: wrap;
                background: url('../image//0_Welcome/0_2_weather_2.png') left top/100% no-repeat;
                // .col {
                //     font-family: PingFangSC-Medium;
                //     font-size: .20rem;
                //     color: #FFFFFF;
                //     width: 2.40rem;
                //     .icon {
                //         display: inline-block;
                //         width: .37rem;
                //         height: .37rem;
                //         margin-right: .16rem;
                //         &.i1 {
                //             background: url('../image//0_Welcome/0_2_weather_2.png');
                //         }
                //     }

                // }
            }
        }

        .schedule {
            position: absolute;
            bottom: -7.24rem;
            padding-left: .35rem;

            &.schedule-up {
                animation: schedule-up @ftimer @timefunc forwards;
            }

            .title {
                margin-left: .13rem;
                margin-top: .34rem;
                width: 1.31rem;
                height: .24rem;
                background: url('../image/0_Welcome/0_3_schedule_0.png') left top/100% no-repeat;
            }

            .task {
                width: 4.39rem;
                height: 1.48rem;
                margin-top: .19rem;
                background: url('../image/0_Welcome/0_3_schedule_1.png') left top/100% no-repeat;

                &.task2 {
                    background: url('../image/0_Welcome/0_3_schedule_2.png') left top/100% no-repeat;
                }

                &.task3 {
                    background: url('../image/0_Welcome/0_3_schedule_3.png') left top/100% no-repeat;
                }

                &.others {
                    background: url('../image/0_Welcome/0_3_schedule_4.png') left top/100% no-repeat;

                }
            }
        }

        .full {
            // todo remove
            position: fixed;
            top: 0;
            right: 0;
        }
    }

    // map move
    @keyframes ml60 {
        0% {
            background-position-x: 20rem;
        }

        70% {
            background-position-x: 20rem - 0.6rem;
        }

        100% {
            background-position-x: 20rem - 0.4rem;
        }
    }

    @keyframes mr500 {
        0% {
            background-position-x: -20rem;
        }

        70% {
            background-position-x: -20rem + 5.2rem;
        }

        100% {
            background-position-x: -20rem + 5rem;
        }
    }

    @keyframes mr250 {
        100% {
            background-position-x: -20rem + 2.5rem;
        }

        0% {
            background-position-x: -20rem + 5rem;
        }
    }

    @keyframes mr500rev {
        100% {
            background-position-x: -20rem;
        }

        0% {
            background-position-x: -20rem + 5rem;
        }
    }

    //component move    
    @keyframes search-right {
        0% {
            left: 0;
        }

        70% {
            left: 2.70rem;
        }

        100% {
            left: 2.50rem;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes hi-down {
        0% {}

        70% {
            top: .20rem;
        }

        100% {
            top: 0rem;
        }
    }

    @keyframes weather-right {
        0% {
            left: -5.34rem;
        }

        70% {
            left: 5.34rem + .20rem;
        }

        100% {
            left: 5.34rem;
        }
    }

    @keyframes schedule-up {
        0% {
            // bottom: -7.24rem;
        }

        70% {
            bottom: .20rem;
        }

        100% {
            bottom: 0;
        }
    }

    @keyframes left1069 {
        0% {}

        70% {
            left: 10.69rem + .20rem;
        }

        100% {
            left: 10.69rem;
        }
    }

    @keyframes leftneg1069 {
        0% {
            left: 5.34rem;
        }

        100% {
            left: -5.34rem;
        }
    }

    @keyframes left1069to534 {
        0% {
            left: 10.69rem;
        }

        100% {
            left: 5.34rem;
        }
    }

    @keyframes w519 {
        0% {
            opacity: 1;
        }

        100% {
            width: 5.19rem + 1.6rem;
            opacity: 1;
        }
    }

    @keyframes topneg238 {
        0% {
            top: 0;
        }

        100% {
            top: -2.38rem;
        }
    }
}
