@bordercolor: #3e062f;

.stage1-wrapper {
    display: inline-block;
    position: relative;
    width: 529px; //决定中间神经元位置
    .rect1 { // large rect
        background-color: white;
        border: 4px solid @bordercolor;
        width: 220px;
        height: 120px;
        position: relative;
        display: inline-block;
        &.weather {
            background: url('../image/icon_sunny@2x.png') 20px 15px no-repeat, white url('../image/neuralbg2.png');
            background-size: 80px 80px, 100% 100%;
        }
        &.friends {
            background: url('../image/icon_high-five@2x.png') 20px 15px no-repeat, white url('../image/neuralbg2.png');
            background-size: 80px 80px, 100% 100%;
        }
        &.mood {
            background: url('../image/icon_laugh@2x.png') 20px 15px no-repeat, white url('../image/neuralbg2.png');
            background-size: 80px 80px, 100% 100%;
        }
    }
    .rect2 { // small rect
        position: relative;
        display: inline-block;
        border: 4px solid @bordercolor;
        width: 35px;
        height: 35px;
        z-index: 40;
        top: -43px;
        left: -17px;
    }
}
.line1 {
    position: absolute;
    //display: inline-block;
    transform-origin: 0 center;
    z-index: 30;
    top: 50px;
    left: 213px;
}
