@import 'common';

.center-right
{
    position: relative;
    z-index: 200;
    display: inline-block;
    left: -45px;
    top: 1px;
}
.setTop {
    z-index: 300;
}
.rrect {
    background-color: white;
    border: 4px solid @bordercolor;
    width: 250px;
    height: 120px;
    position: relative;
    &.film {
        background: url('../image/icon_robi_glasses@2x.png') 140px 15px no-repeat, white url('../image/neuralbg2.png');
        background-size: 70px 80px, 100% 100%;
    }
    &.ball {
        background: url('../image/icon_basketball@2x.png') 180px 55px no-repeat, url('../image/icon_robi_default@2x.png') 140px 15px no-repeat, white url('../image/neuralbg2.png');
        background-size: 50px 50px, 70px 80px, 100% 100%;
    }
    &.read {
        background: url('../image/icon_notebook@2x.png') 180px 55px no-repeat, url('../image/icon_robi_default@2x.png') 140px 15px no-repeat, white url('../image/neuralbg2.png');
        background-size: 40px 50px, 70px 80px, 100% 100%;
    }
    .res-text {
        position: absolute;
        font-size: 20px;
        color: #471033;
        font-weight: bold;
        top: 46px;
        left: 35px;
    }
    .title-res {
        position: absolute;
        font-size: 25px;
        color: #471033;
        font-weight: bold;
        top: -60px;
        left: 35px;
    }
}
.rsrect
{
    position: absolute;
    border: 4px solid @bordercolor;
    width: 35px;
    height: 35px;
    left: -22px;
    top: 38px;
    background-color: #fff;
}
