@trans_time: 1s;

.slider {
    height: 20px;
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
}

.s-left {
    height: 8px;
    transition: width @trans_time linear;
    z-index: 25;
}
.s-dot {
    left: 0px;
    transition: left @trans_time linear;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: red;
    z-index: 30;
}
.s-right {
    height: 6px;
    transition: width @trans_time linear;
    background: black;
    z-index: 20;
}
